%table.table.table-striped
  %thead
    %tr
      %th= 'File Name'
      %th= 'File Size'
  %tbody
    - files.each do |file|
      %tr
        %td= file['name']
        %td= file['size']
    - if has_more_files
      %tr
        %td{colspan:2}
          %button.btn.btn-large.btn-block{type:'button'}
            Load more files.
