.span12
  %table.table.table-striped
    %thead
      %tr
        %th= 'Project Name'
    %tbody
      - @projects['projects'].each do |project|
        %tr
          %td
            = link_to project['name'], "/mitsubachi/projects/#{project['name']}"

